.all-houses-container {
    height:100vh;
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    font-weight: bold;
    font-size: 3rem;
    color: #5d0f0f;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }
  
  .cottages-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cottage-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s; /* Плавное изменение цвета */
  }
  
  .cottage-link:hover {
    color: #3498db; /* Новый цвет текста при наведении */
    text-decoration: underline; /* Подчеркивание при наведении */
  }
  
  .cottage-card {
    text-decoration: none;
    color: inherit;
    border: 2px solid transparent; /* Изначально без видимой границы */
    border-radius: 8px; /* Скругление углов */
    transition: border-color 0.3s, box-shadow 0.3s; /* Плавный переход */
  }
  
  .cottage-card:hover {
    border-color: #510505; /* Цвет рамки при наведении */
    box-shadow: 8px 18px 8px 18px rgba(116, 29, 29, 0.2); /* Тень при наведении */
    margin: 20px;
  }
  