* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContainer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: antiquewhite;
}
.container {
  max-width: 100%;
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: antiquewhite;
}
.titleAdvantages {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
}
.svg {
  width: 100px;
  height: 100px;
}
.imgContainer {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.locationSvg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.infrastructureSvg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.priceSvg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.locationText {
  text-align: center;
  font-size: 20px;
  width: 200px;
}
.infrastructureText {
  text-align: center;
  font-size: 20px;
  width: 200px;
}
.priceText {
  text-align: center;
  font-size: 20px;
  width: 200px;
}
.spanText {
  font-weight: lighter;
  color: #6e1c3a;
  text-decoration: overline;
  font-size: 20px;
}
.withoutPodryad {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  border-radius: 20px;
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  width: 800px;
}
.withoutPodryad::before,
.withoutPodryad::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px; /* Толщина линии */
  background-color: #000;
}
.withoutPodryad::before {
  left: -20px;
}
.withoutPodryad::after {
  right: -20px;
}
.imgWithoutPodryad {
  border-radius: 20px; /* Закругленные края */
  object-fit: cover;
  margin: 30px;
  width: 100%;
  height: 100%;
}
.imgAdvantages {
  border-radius: 20px; /* Закругленные края */
  object-fit: cover;
  margin: 30px;
  max-width: 100%;
  height: 40%;
}
.advantages {
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
}
.advantagesTitle {
  /* text-align: left; */
}
.advantagesText {
  /* text-align: left; */
  font-weight: bold;
}
.imgTitle {
  width: 5%;
}
.imgSpan {
  width: 10%;
  height: 50%;
}
