* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerContacts {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
